<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2016 Sam Crow
  ~
  ~ This file is part of JRBP Survey.
  ~
  ~ JRBP Survey is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ JRBP Survey is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with JRBP Survey.  If not, see <http://www.gnu.org/licenses/>.
-->
<manifest package="org.samcrow.ridgesurvey"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <!-- Write external storage for tile cache -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- Location for navigation -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- Internet access for data upload -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.sensor.compass"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.touchscreen.multitouch "
        android:required="false"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!--
         Purpose of configChanges: Don't restart when these things change
         (A bug, probably a memory leak, triggers an OutOfMemoryError when the activity
         is restarted too often)
        -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".DataEntryActivity">
        </activity>

        <receiver android:name=".data.NetworkBroadcastReceiver">
            <intent-filter>
                <!-- Try uploading/deleting when the network status changed -->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <service android:name=".data.UploadService"/>

        <activity android:name=".ObservationListActivity">
        </activity>
        <activity android:name=".ObservationEditActivity">
        </activity>
    </application>

</manifest>
