<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.samcrow.ridgesurvey"
          xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <!-- Write external storage for tile cache -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- Location for navigation -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- Internet access for data upload -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:name="android.hardware.sensor.compass" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen.multitouch	" android:required="false"/>

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

        <!--
         Purpose of configChanges: Don't restart when these things change
         (A bug, probably a memory leak, triggers an OutOfMemoryError when the activity
         is restarted too often)
        -->
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".DataEntryActivity">
        </activity>

        <receiver android:name=".NetworkBroadcastReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>

        <service android:name=".UploadService"/>
    </application>

</manifest>
